*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#00c6ff);
background-size:400% 400%;
animation:bg 12s ease infinite;
overflow:hidden;
}

@keyframes bg{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

.card{
width:340px;
padding:30px;
border-radius:25px;
background:rgba(255,255,255,.15);
backdrop-filter:blur(20px);
box-shadow:0 0 30px rgba(255,255,255,.25);
text-align:center;
color:white;
animation:show 1s ease;
}

@keyframes show{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

h1{
font-size:32px;
margin-bottom:20px;
}

.temp{
font-size:60px;
font-weight:bold;
margin:15px 0;
}

#city{
font-size:26px;
margin-bottom:10px;
}

#weather{
font-size:18px;
opacity:.9;
}

.time{
margin-top:20px;
font-size:18px;
}

.buttons{
margin-top:25px;
display:flex;
justify-content:center;
gap:15px;
}

button{
padding:12px 22px;
border:none;
border-radius:12px;
background:#00bfff;
color:white;
font-size:16px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
background:#0099dd;
}
.icon{
    font-size:80px;
    animation:float 3s ease-in-out infinite;
    margin-bottom:15px;
}

@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-12px);
    }
    100%{
        transform:translateY(0);
    } 
}
